
    <tbody>

        {{#each flower}}

 
        <tr> 
            <td>{{flower_name}}</td>
            <td>{{color}}</td>  
            <td><input type="button" value="Delete Row" onclick="deleteFlower(this)"></td>
        </tr> 
        {{/each}} 
    </tbody> 
