
    <tbody>

        {{#each flower}}


        <tr>
            <td>{{name}}</td>
            <td>{{color}}</td>
            <td><input type="button" value="Delete Row" onclick="deleteFlower(this)"></td>
        </tr>
        {{/each}}
    </tbody>
