
   
    <tbody>
        {{#each fruit}} 
        <tr> 
            <td>{{fruit_name}}</td>
            <td>{{price}}</td>  
           <td><input type="button" value="Delete Row" onclick="deleteFruit(this)"></td>

        </tr> 
        {{/each}} 
    </tbody> 
