

    <tbody>
        {{#each fruit}}
        <tr>
            <td>{{name}}</td>
            <td>{{price}}</td>  
           <td><input type="button" value="Delete Row" onclick="deleteFruit(this)"></td>

        </tr>
        {{/each}}
    </tbody>
