    <table>
    <tbody>
        {{#each flower}} 
        <tr> 
            <td>{{fruit_name}}</td>
            <td>{{native}}</td>  
            <td><input type="button" value="Delete Row" onclick="deleteIslandFruit(this)"></td>

        </tr> 
        {{/each}} 
    </tbody> 
    </table>