    <table>
    <tbody>
        {{#each flower}} 
        <tr> 
            <td>{{flower_name}}</td>
            <td>{{flower_color}}</td>  
			<td><input type="button" value="Delete Row" onclick="deleteIslandFlower({{id}})"></td>

        </tr> 
        {{/each}} 
    </tbody> 
    </table>