<meta name="Home Page">
<link rel="stylesheet" href="css/style.css">

<html>
     <head>
         <title>{{Title}}</title>

     {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}

     </head>

     <body class="text-center">

            <div class="topnav">
                    <a href="/homepage">Home</a>
                    <a href="#account">Account</a>
                    <a href="#search">Search</a>
                    <a href="/login">Log out</a>
                </div>
                            {{{body}}}

    </body>

    