<meta name="Home Page">
<link rel="stylesheet" href="css/style.css" type='text/css'>


<html>
     <head>
         <title>{{Title}}</title>

      {{#each css}}
<link rel="stylesheet" href="css/{{this}}" >
 {{/each}}

     {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}


     </head>

     <body class="text-center">

            <div class="topnav">
                    <a href="/homepage">Home</a>
                    <a href="/islandpage">Account</a>
                    <a href="#search">Search</a>
                    <a href="/login">Log out</a>
                </div>
                            {{{body}}}

    </body>

    </html>

    