   <body class="text-center">

                <div id="myDIV" class="header">
                                <h2>My Favorites</h2>
                                <input type="text" id="myInput" placeholder="Add Favorite...">
                                <span onclick="addFavorite()" class="addBtn">Add</span>
                              </div>
                              
                              <ul id="myUL">
                                <li>Gonzo<span class="close">x</span></li>
                                <li>Pietro<span class="close">x</span></li>
                                <li>Jambette<span class="close">x</span></li>
                            </ul>
    </body>