  
  <body>

        <form id="addFlowers" action="/fruitFlowers" method="post">
        Fruit Name: <input type="text" name="ffruit_name"><br>
        Price: <input type="text" name="fprice"><br>
        <input type="submit" value="Submit">
        </form>
        <br/>

        <form id="addFruits" action="/fruitFlowers" method="post">
        Flower Name: <input type="text" name="fflower_name"><br>
        Flower Color: <input type="text" name="fflower_color"><br>
        <input type="submit" value="Submit">
        </form>
        <br/>

    <div class=Fruittitle>
      <h2>Fruit:</h2>
      <div class="box">
              <table>
    <thead> 
        <th>Fruit</th> 
        <th>Price</th> 
     </thead> 
     {{> fruitcard}}
       </table> 
      </div>


    <div class=Flowertitle>
      <h2>FLOWERS:</h2>
      <div class="box">
      <table>
    <thead> 
        <th>Flowers</th>  
        <th>Color</th> 
    </thead> 
      {{> flowercard}}
      </table>
      </div>
    </div>

  </body>
