  
  <body>

    <div class=fruittitle>
      <h2>FRUIT:</h2>
      <div class="boxFruit">
        <ul>
          <li class="fruit">Fruit 1 name
            <ul>
              <li class="price">Price: _____</li>
            </ul>
          </li>
          <li class="fruit">Fruit 2 name
            <ul>
              <li class="price">Price: _____</li>
            </ul>
          </li>
        </ul>

      </div>
    </div>

    <div class=Flowertitle>
      <h2>FLOWERS:</h2>
      <div class="boxFlower">
        <ul>
          <li class="flower">Flower 1 name
            <ul>
              <li class="color">Color: _____</li>
            </ul>
          </li>
          <li class="flower">Flower 2 name
            <ul>
              <li class="color">Color: _____</li>
            </ul>
          </li>
        </ul>

      </div>
    </div>

  </body>
