<meta name="Fruits And Flowers">
<link rel="stylesheet" href="/css/fruitFlowers.css">
<script src="fruitsFlowers.js" charset="utf-8" defer></script>


  <body>



    <div class=Fruittitle>
      <h2>Fruit:</h2>
      <div class="box">
              <table>
    <thead>
        <th>Fruit</th>
        <th>Price</th>
     </thead>
     {{> fruitcard}}
       </table>
      </div>
      <div id ="hiddenFruits">
    <form id="addFruits" action="fruitFlowers/f" method="post">

        Fruit Name<input type="text" name="ffruit_name" id="fruitName"><br>
        Price: <input type="number" name="fprice" id="fruitPrice"><br>
        <input type="submit" value="Submit">
    </div>
        <button type="button" onclick="toggleFruits()">Add Fruit</button>
        </form>
        <br/>


    <div class=Flowertitle>
      <h2>FLOWERS:</h2>
      <div class="box">
      <table>
    <thead>
        <th>Flowers</th>
        <th>Color</th>
    </thead>
      {{> flowercard}}
      </table>
      </div>
          <div id ="hiddenFlowers">
        <form id="addFlowers" action="fruitFlowers/fl"  method="post">

        Flower Name: <input type="text" name="fflower_name" id="flowerName"><br>
        Flower Color: <input type="text" name="fflower_color" id="flowerColor"><br>
        <input type="submit" name="submit" value="Submit">
      </form>
      </div>
        <button type="button" onclick="toggleFlowers()">Add Flower</button>
        <br/>
    </div>





  </body>
