<header>
		<div class="Account Head">
		<button id = "acc_but">
			<p>Account</p>
		</button>
	
	</div>

	<div class="Home_Header">
		<h1> Home </h1>
	</div>

</header>
<body>
<div class="row">
  <div class="column1">
  	<h2> Villagers </h2>
  	<div id = "Villager_Pages">
<p> <a href="/villagers">
<img border="0" alt="Villager Link" src="https://img.buzzfeed.com/store-an-image-prod-us-east-1/1zoz-dkc_.png?output-format=auto&output-quality=auto&downsize=500:*" width="300" height="600"></p>
  	</div>
  </div>
  <div class="column2">
  	 	<h2> Plants </h2>
  	<div id = "Plants_Pages">
<p> <a href="/fruitFlowers">
<img border="0" alt="Plant Link" src="https://ih1.redbubble.net/image.1136133565.0059/flat,750x,075,f-pad,750x1000,f8f8f8.jpg" width="300" height="600"></p>
  	</div>
  </div>
  </div>
</div>
</body>