
<head>
     </head>


     <body class="text-center">

            <div class="topnav">
                    <a href="#home">Home</a>
                    <a href="#account">Account</a>
                    <a href="#search">Search</a>
                    <a href="#logout">Log out</a>
                </div>

     <div class ="player_info">
       <h1>Island Name</h1>
      	<h2>est. (date)</h2>
     </div>


     <div class = "boxes">
     <div class = "subbox1">
     	<div class = "Villager_List">
     		<p>Villager List</p>
     	</div>

     	</div>
     	 <div class = "subbox2">
     		<div class = "Fruit_Flowers">
     		<p>Fruit & Flowers</p>
     	</div>

     	</div>


     </div>
          	<div class = "button_box">
     		<button id = "add_vill"> ADD </button>
     		<button id = "rmv_vill"> Remove </button>
     	
     	</div>
     	<div class = "button_boxr">
     		<button id = "add_vill"> ADD </button>
     	</div>
</body>
<footer>
	<div>
		<p> </p>
	</div>
</footer>