<meta name="Island">
<link rel="stylesheet" href="/css/island.css">
        
        

     <div class ="player_info">
       <h1>{{island_name}}</h1>
        <h2>est. {{start_date}}</h2>
     </div>


     <div class = "boxes">
     <div class = "subbox1">
        <div class = "Villager_List">
            <p>Villager List</p>
            <thead> 
        <th>Villagers</th> 
        <th>Personality</th> 
        <th>Animal</th>
        <th>Join Date</th>
            </thead> 
            <tbody>
        {{> islandvill}}

    </tbody> 
    </table> 

    <h3> Add Favorite Villager </h3>
<div class="hiddenVillager">
<form id="add_favorite" action="addVill/" method="post">
        Villager: <select name='fvillager'>
        {{#each fvillager}}
        <option value={{id}}>{{name}}</option>
        {{/each}}
        </select>
        Rating (1-5): <input type="text" name="frating"  placeholder="Enter an Rating"><br>
         Favorite: <input type="text" name="ffavorite"  placeholder="Enter a Favorite 1 or 0"><br>
        <br>
        </div>
        <input type="submit" value= "Submit">
        </div>
        </form>
        </div>
         <div class = "subbox2">
            <div class = "Fruit_Flowers">
            <p>Fruit & Flowers</p>

        <thead> 
        <th>Fruit</th> 
        <th>Native</th> 
    </thead> 
    <tbody>

    </tbody> 
   

    <thead> 
        <th>Flowers</th>  
        <th>Color</th> 
    </thead> 
        {{> islandflowers}}

        <thead> 
        <th>Fruits</th>  
        <th>Native</th> 
    </thead> 
        {{> islandfruits}}

        </div>

<div class="hiddenFruit">
    <form id="addFruit" action="addFruit/" method="post">
        Fruit Name: <input type="text" name="ffruit_name" placeholder=" Enter a Fruit name!"><br>
        Native: <input type="text" name="fnative"  placeholder="Enter a Native Value 1 or 0!"><br>
        <input type="submit" value= "Submit">
        </div>
        
        </form>
        <br/>

        <div class="hiddenFlower">
        <form id="addflower" action="addFlower/" method="post">
        Flower Name: <input type="text" name="fflower_name" placeholder="Enter a Flower Name"><br>
        Flower Color: <input type="text" name="fflower_color" placeholder="Enter a corresponding Flower Color"><br>
        <input type="submit" value= "Submit">
        </div>
        
        </form>
        <br/>
        </div>


     </div>
