        <form id="addUser" action="/login" method="post">
        Username: <input type="text" name="fusername"><br>
        Password: <input type="text" name="fpassword"><br>
        <input type="submit" value="Submit">
        </form>
        <br/>


<header>
	<div id = "login_header">
		<h1>Log in</h1>
	</div>
</header>
<body>
	<div class = "box">
	 <label for="fusername"><b>User ID  </b></label>
    <input type="user" placeholder="" name="fusername" required>

    <label for="fpassword"><b>Password</b></label>
    <input type="password" placeholder="" name="fpassword" required>
        
    <button type="enter">ENTER</button>
	</div>
</body>

