<meta name="Login">
<link rel="stylesheet" href="/css/login.css">
<script src="login.js" charset="utf-8" defer></script>

       {{! <form id="addUser" action="/login" method="post">
        Username: <input type="text" name="fusername"><br>
        Password: <input type="text" name="fpassword"><br>
        <input type="submit" value="Submit">
        </form>
        <br/>}}


<header>
	<div id = "login_header">
		<h1>Log in</h1>
	</div>
</header>

<body>
	<div class = "box">
	 {{!<label for="fusername" ><b>User ID  </b></label>
    <input type="user" placeholder="" id="userID" name="fusername" required>

    <label for="fpassword" ><b>Password</b></label>
    <input type="password" placeholder="" id="password" name="fpassword" required>
        
    <button type="enter" onclick="userLogin()">ENTER</button>--}}
       <form id="addUser" action="/login" method="post">
        <label><b>Username:</b></label> <input type="text" name="fusername"><br>
        <label><b>Password:</b></label> <input type="text" name="fpassword"><br>
        <input type="submit" value="Submit">
        </form>
        <br/>
	</div>

        <div id="hidden">
        <form id="addIsland" action="login/AddIsland" method="post">
        <form id ="addAccount" action="login/AddAccount" method="post">
        Your name: <input type="text" name="fyourname" id="yourName"><br>
        Username: <input type="text" name="fusername" id="username"><br>
        Password: <input type="text" name="fpassword" id="password"><br>

        Island Name: <input type="text" name="fislandName" id="islandName"><br>
        Location: <input type="text" name="flocation" id="location"><br>
        Start Date: <input type="text" name="fstartDate" id="startDate"><br>
        <input type="submit" value= "Submit">
    </div>
        <button type = "button" onclick="toggleAccountCreation()">Add Villager </button>
        </form>
        </form>
        <br/>
</body>



