<!DOCTYPE html>
<meta name="Home Page">
<link rel="stylesheet" href="/css/{{this}}">

<html>
     <head>
         <title>{{Title}}</title>

     {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}

     </head>

     <body class="text-center">

            <div class="topnav">
                    <a href="#home">Home</a>
                    <a href="#account">Account</a>
                    <a href="#search">Search</a>
                    <a href="#logout">Log out</a>
                </div>
                            {{body}}

    </body>

</html>
    