    

        <div class="content">
            <div class="Villager-Header">
                <h1>Villagers</h1>
            </div>
            {{#each villager}}
            <div class="Villager-card">
                <img id="villager-image" src={{image}} alt="Villager-picture" style="width:100%">
                <ul id="villager-text">
                    <li>Name:{{name}}</li>
                    <li>Personality: {{personality}}</li>
                    <li>Species: {{animal}}</li>
                </ul>
                <div style="clear:both"></div>
            </div> 
            {{/each}}
            
