<meta name="Villagers">
<link rel="stylesheet" href="/css/villagers.css">



<body>

        <div class="content">
            <div class="Villager-Header">
                <h1>Villagers</h1>
            </div>
                {{> villagercard }}

    <div id="hidden">
        <form id="addVillagers" action="villagers/Addvill" method="post">

        Link an Image!: <input type="text" name="fimage" id="villagerImage"><br>
        Villager Name: <input type="text" name="fname" id="villagerName"><br>
        Villager Personality: <input type="text" name="fpersonality" id="villagerPersonality"><br>
        Villager Animal: <input type="text" name="fanimal" id="villagerSpecies"><br>
        <input type="submit" value= "Submit">
    </div>
        <button type = "button" onclick="toggleVillager()">Add Villager </button>
        </form>
        <br/>
</body>
