.column1{
		text-align: center;

	width: 30%;
	padding: 50px;
	background-color: #FFFFFF;
	margin-top: 150px;
	float: left;
	margin-left:100px;
	border: 3px solid black;
	display: inline-block;
	overflow: auto;
	 border-radius: 25px;
	 padding-bottom: 400px;

}

.column2{
	text-align: center;
	width: 30%;
	padding: 50px;
	background-color: #FFFFFF;
	margin-top: 150px;
	float: right;
	margin-right: 75px;
	border: 3px solid black;
	display: inline-block;
	overflow: auto;
 border-radius: 25px;
 	 padding-bottom: 400px;

}



.row:after {
  content: "";
  display: table;
  clear: both;

}


#acc_but{

	text-align: right;
	vertical-align: middle;
	line-height: 30px;
	 margin: auto;
	float: right;
	border: 3px solid black;
	font-size: 30px;
	padding-right: 100px;
	transition-duration: 0.4s;
	display: inline-block;


}
#acc_but:hover{
background-color: #96f5f5; 

}

.Home_Header{
	    display: inline-block;
	padding-left: 175px;
	display: flex;
	float: center;
	justify-content: center;
  align-items: center;
  text-decoration: black;
  font-size: 30px;
	
}
