
#updateVills{

}

.hiddenVill{
display: none;
}

.topnav {
    background-color: rgb(143, 109, 51);
    overflow: hidden;
    float: none;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 46px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: rgb(211, 168, 25);
    color: black;
}

input[type=text], input[type=text] {
    
    width: 40%;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -280px; 
    display: inline-block;
    margin-top: 20px;
    padding: 10px 0px;
    
  }

  label {
    float: left;
    position: relative;
    top: 20px;
    padding-left: 250px;
  }

input[type=submit]{
    width: 40%;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -280px;
    display: inline-block;
    margin-top: 22.5px

  
}
.Forms{
    margin-top:80px;
    height:200px;
    width:auto;
    position: relative;



}
  
.content {
    margin-top: 50px;
} 

.Villager-card {
    height: 225px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: center;
    background-color: #f1f1f1;
    margin: auto;
    border: 3px;
    padding: 10px;
    background-color: #82ff96;
  }
  
  
  .container {
    padding: 2px 16px;
  }


#villager-text {
    float: none;
    display: inline-block;
    line-height: 2em;
    padding-top: 30px;
}

ul {
    list-style-type: none;
}


body {
    margin:50px 0; 
    padding:0;
    text-align:center;
    background-color: #96f5f5;
    margin: 0;
}

.Villager-Header {
    padding-top: 50px;
} 

img {
    padding: 10px;
    float: left;
    max-width:90px;
    max-height:225px;
} 
